
.btn{
    margin-left: 45px;
    margin-top: 5px;
    background-color: rgb( 3, 3, 43);
    border: none;
    border-radius: none;
}
.btn:hover{
    background-color: white;
    color: rgb( 3, 3, 43);
    border: 1px solid rgb( 3, 3, 43);
    border-radius: none;
}