.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(3, 3, 43);
    /*justify-content: space-around;*/
}
img{
    width: 100px;
    height: 100px;
}
.infoCart{
    display: flex;
    flex: column;
}
button{
    width: auto;
    height: auto;
}

