.Counter{
    display: flex;
    flex: row;
    justify-content: center;
}
.button{
    width: 40px;
    height: 40px;
}
.bnGreen:hover{
    border: 2px solid green;
    color: green;
    background-color: white;
}
.bnRed:hover{
    border: 2px solid red; 
    color: red;
    background-color: white;
}
.Cantidad{
    padding: 10px;
}
.btn-success{
    margin-left: 55px ;
    margin-top: 5px;
}
.btn-success:hover{
    background-color: white;
    color: succes;
}
